#body div#content form {
	margin: 0;
	padding: 0 0 0;
}
#body div#content h3 {
	color: #fff;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 0.028em;
	line-height: 18px;
	float: left;
}
#body div#content h3{
	width: 100%;
}
#loginDiv{
	width: 251px;
	height: 350px;
	float: left;
	padding: 40px 10px 10px 82px;
	margin: 50px 0 50px 240px;
	background-color: #0D3F6A;
	border-radius: 8px;
	border: 0px solid;
}
#loginDiv input{
	font-size: 16px;
	height: 28px;
}
#loginDiv a{
	color: #fff;
	text-decoration: none;
}
#resultDiv{
	float: left;
	width: 220px;
	height: 20px;
	color: #fff;
	font-size: 15px;
	font-weight: normal;
	margin: 20px 0 0 50px;
	border: 0px solid;
}
#passwordDiv {
    background-color: #0D3F6A;
    border: 0 solid;
    border-radius: 8px 8px 8px 8px;
    float: left;
    height: 350px;
    margin: 50px 0 50px 240px;
    padding: 40px 10px 10px 10px;
    width: 350px;
	text-align: center;
}
#submit{
	cursor: pointer;
}